<div class="hsul">
	<div class="hsul_div">
        <div class="hsul_ico1"><p>Company Info</p></div>
        <ul class="hsul_1">
            <li><a id="HSA" href="http://www.efox-shop.us/about_efox-shop">About efox-shop</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/yh_contact_us">Location & Working Hours</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/our_guarantee">Our Guarantee</a></li>
			<li><a id="HSA" href="http://www.efox-shop.us/site_map">Site Map</a></li>
			<li><a id="HSA" href="http://www.efox-shop.us/blog">efox-shop Official Blog</a></li>
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico2"><p>Company Policies</p></div>
        <ul class="hsul_2">
            <li><a id="HSA" href="http://www.efox-shop.us/terms_of_use">Intellectual Property Infringement Policy</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/privacy_notice">Privace Policy</a></li>
			<li><a id="HSA" href="http://www.efox-shop.us/return_policy">Return Policy</a></li>
			<li><a id="HSA" href="http://www.efox-shop.us/terms_of_use">Terms of Use</a></li>
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico3"><p>Customer Service</p></div>
        <ul class="hsul_3">
            <li><a id="HSA" href="http://www.efox-shop.us/yh_contact_us">Contact Us</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/contact_us">Submit a Request</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/track_tour_order">Track Your Order</a></li>
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico4"><p>Payment & Shipping</p></div>
        <ul class="hsul_4">
            <li><a id="HSA" href="http://www.efox-shop.us/estimate_delivery_time">Estimate Delivery Time</a></li>
            <li><a id="HSA" href="http://www.efox-shop.us/payment_methods">Payment Methods</a></li>
			<li><a id="HSA" href="http://www.efox-shop.us/shipping_methods_guide">Shipping Guide</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
