<div class="hsul">
	<div class="hsul_div">
        <div class="hsul_ico1"><p>Company Info</p></div>
        <ul class="hsul_1">
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>about_ours">About <?php echo STORE_NAME;?></a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>contact_us">Location & Working Hours</a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>our_guarantee">Our Guarantee</a></li>
			<li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>site_map">Site Map</a></li>
			
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico2"><p>Company Policies</p></div>
        <ul class="hsul_2">
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>terms_of_use">Intellectual Property Infringement Policy</a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>privacy_notice">Privace Policy</a></li>
			<li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>return_policy">Return Policy</a></li>
			<li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>terms_of_use">Terms of Use</a></li>
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico3"><p>Customer Service</p></div>
        <ul class="hsul_3">
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>yh_contact_us">Contact Us</a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>contact_us">Submit a Request</a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>track_tour_order">Track Your Order</a></li>
        </ul>
    </div>
    <div class="hsul_div">
        <div class="hsul_ico4"><p>Payment & Shipping</p></div>
        <ul class="hsul_4">
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>estimate_delivery_time">Estimate Delivery Time</a></li>
            <li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>payment_methods">Payment Methods</a></li>
			<li><a rel="nofollow" id="HSA" href="<?php echo HTTP_SERVER.DIR_WS_CATALOG;?>shipping_methods_guide">Shipping Guide</a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
